{% extends 'base.html' %}
{% block content %}
<!-- #1 row -->
<!-- 
Inhoud:
- Logo & gele menu
- Lege kolom
- Hoeveel plekken zijn er?
- Is er nog plek?
- lege kolom
 -->
<div class="row">

    <!-- Logo & gele menu -->
    <div class="col-2" style="background-color:#ffe067;">
        <center><img
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.surfconext.nl%2Flogos%2Fidp%2Fwindesheim.png&f=1&nofb=1">
        </center>
    </div>


    <!-- Is er nog plek? -->
    <div class="col-4 text-center" style="background-color:#E9ECEF;">
        <br>
        <br>
        <b>
            <div class="center">
                <p>Parkeergarage Windesheim Flevoland</p>
                {% if empty_or_full_value %}
                <button type="button" class="h-100 btn btn-success btn-lg">Vrij</button>
                {% else %}
                <button type="button" class="btn btn-danger btn-lg">Vol</button>
                {% endif %}
            </div>
        </b>
        <br><br>
    </div>

    <!-- Hoeveel plekken zijn er? -->
    <div class="col-6 text-center" style="background-color:#E9ECEF;">
        <br>
        <br>
            <b>
                <p>Plaatsen bezet</p>
            </b>
            <p style="font-size:200%"> {{empty_or_full_value|length}}/{{sensors.count}}</p>
    </div>

</div>

<!-- #2 row -->
<!-- 
Inhoud:
- Gele menu & titel: "Parkeerplaats dashboard"
- Hr streep
 -->

<!-- Hr streep -->
<div class="col-sm-10"><br>
    <hr>
</div>

</div>

{% endblock %}

