{% extends 'base.html' %}
{% block content %}
<!-- Inladen van de inhoud van de static folder-->
{% load staticfiles %}

<!-- Overal het lettertype "Roboto toepassen"-->
<link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- Logo met banner-->
<div class="row" align="center">
    <div class="col" style="background-image:url('{% static 'images/background_picture.png' %}');">
        <img src= "{% static 'images/wf2.png' %}" align="center" hspace="20"height="150" width="250" alt="Text to display if image is not found">
    </div>
</div>

<!-- 1ste row met:
- Weergave of de parkeergarage vol of vrij is
- Weergave hoeveel plekken er beschikbaar zijn
 -->
{% for prognose_3 in prognose3 %}'{{prognose_3.created_at|time:"H:i a"}}',{%endfor %}
<div class="row">
    <div class="col-6 text-center">
            <div class="center border-right" style="margin-top: 30px;">
                <p style="font-size:20px;">Parkeergarage Windesheim Flevoland</p>
                 <button id="vrij" type="button" class="btn btn-success btn-lg" style="padding: 10px 20px; font-size: 20px; border-radius: 10px; width:120px; {% if not empty_or_full_value %} display: none; {% endif %}">Vrij</button>
                 <button id="vol" type="button" class="btn btn-danger btn-lg" style="padding: 10px 20px; font-size: 20px; border-radius: 10px; width:120px; {% if empty_or_full_value %} display: none; {% endif %}">Vol</button>
            </div>
    </div>
    <div class="col-6 text-center">
        <div class="bezet" style="margin-top: 30px; margin-right: 100px;">
            <p style="font-size:20px;">Plaatsen beschikbaar</p>
                {% for data in graphQuery%}
                {{data.sensorValue}}
                {%endfor%}
                <p style="font-size:200%"> {{graphQuery}}</p>
            <p style="font-size:27px;" id="sensorValues">{{empty_or_full_value.count}}/{{sensor.count}}</p>
        </div>
    </div>
</div>

<!-- hr -->
<hr>

<!-- 2ste row met:
- De grafiek
- De zoekoptie
 -->
<div class="row">
    <div class="col-6 text-center">
        <div align="center">
            <div id="ParkeerGrafiek1">
                <canvas id="myChart4"></canvas>
                <script src="{% static 'node_modules/chart.js/dist/Chart.js' %}"></script>
                <div class="chart-container" style="position: relative; height:10vh; width:45vw">
                    <script>
                        var canvas = document.getElementById("myChart4");
                        var ctx = canvas.getContext('2d');

                        // Global Options:
                        Chart.defaults.global.defaultFontColor = 'black';
                        Chart.defaults.global.defaultFontSize = 16;

                        var data = {
                            labels: [{% for date in dates %}'{{ date.created_at }}',{%endfor %}],
                            datasets: [{  
                                    label: 'Parkeerplekken vrij',
                                    fill: true,
                                    backgroundColor: [
                                    'rgba(255, 200, 5, 0.4)'],
                                    data: [{% for date in dates %}'{{date.availability}}',{%endfor %}],
                                    borderWidth: [2, 2]
                            }]
                        };

                        var myBarChart = new Chart(ctx, {
                            type: 'line',
                            data: data,
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true,
                                            callback: function(value) {if (value % 1 === 0) {return value;}}
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 text-center">
        <div align="center">
            <div id="ParkeerGrafiek5">
                <canvas id="myChart5"></canvas>
                <script src="{% static 'node_modules/chart.js/dist/Chart.js' %}"></script>
                <div class="chart-container" style="position: relative; height:10vh; width:45vw">
                    <script>
                        var canvas = document.getElementById("myChart5");
                        var ctx = canvas.getContext('2d');

                        // Global Options:
                        Chart.defaults.global.defaultFontColor = 'black';
                        Chart.defaults.global.defaultFontSize = 16;

                        var data = {
                            labels: [{% for prognose_3 in prognose3 %}'{{prognose_3.created_at|time:"H:i"}}',{%endfor %}],
                            datasets: [{
                                    label: 'Parkeerplekken vrij',
                                    fill: true,
                                    backgroundColor: [
                                    'rgba(255, 200, 5, 0.4)'],
                                    data: [1],
                                    borderWidth: [2, 2]
                            }]
                        };
                        var myBarChart = new Chart(ctx, {
                            type: 'bar',
                            data: data,
                            options: {
                                scales: {
                                    yAxes: [{
                                        type: 'time',
                                        time: {
                                            displayFormats: {
                                                quarter: 'h:mm'
                                            }
                                            // round: 'day'
                                        }
                                        // ticks: {
                                        //     beginAtZero: true,
                                        //     callback: function(value) {if (value % 1 === 0) {return value;}}
                                        // }
                                    }]
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 text-center" style="margin-top: 70px;">
        <p style="font-size:20px;">De verwachte tijd dat parkeergarage vol is:<b> {% for prog in prognose %} {{prog.created_at|date:'H:i' }}{% endfor %}</b></p>

    <div style="margin-top: 75px;">
        <form method="get" action="/">
            <p style="font-size:20px;">Specifieke dag zoeken
            <input type="date" name="date" data-date-inline-picker="true" required></p>
            <button class="btn btn-warning text-white" type="submit" style="padding: 10px 20px; font-size: 20px; border-radius: 10px; width:120px; margin-top: 30px;">Zoeken</button>
        </form>
    </div>
</div>
</div>
</div>
<!--Grafiek-->

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>
<script>
    //check of javascript is ready to start
    $(document).ready(function() {
        setInterval(() => { // set interval each second
            $.get("/sensor", (sensors) => { //get api /sensor
                let count = 0; // empty_or_full_value.count
                for(let index in sensors) { //loop
                    if(sensors[index].sensorValue === 1) count++; //is sensorValue = 1 ++
                }
                let output = `${count}/${sensors.length}`; //html format
                $("#sensorValues").html(output); //write html

                if(count === 0) {
                    $("#vrij").hide();
                    $("#vol").show();
                } else {
                    $("#vrij").show();
                    $("#vol").hide();
                }
            });
        }, 10000);
    });
</script>

{% endblock %}