{% extends 'base.html' %}
{% block content %}
<!-- #1 row -->
<!-- 
Inhoud:
- Logo & gele menu
- Lege kolom
- Hoeveel plekken zijn er?
- Is er nog plek?
- lege kolom
 -->
<div class="container-fluid">
<div class="row">

    <!-- Logo & gele menu -->
    <div class="col" style="background-color:#4f4f4f;">
        <div class="text-center">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.surfconext.nl%2Flogos%2Fidp%2Fwindesheim.png&f=1&nofb=1%22%3E">
        </div>
    </div>
</div>
<div class="row">
    <!-- Is er nog plek? -->
    <div class="col-6 text-center">
            <div class="center border-right" style="margin-top: 30px;">
                <h3><strong>Parkeergarage Windesheim Flevoland</strong></h3>
                {% if empty_or_full_value %}
                <button type="button" class="btn btn-success btn-lg" style="padding: 10px 20px; font-size: 20px; border-radius: 10px; width:120px;">Vrij</button>
                {% else %}
                <button type="button" class="btn btn-danger btn-lg" style="padding: 10px 20px; font-size: 20px; border-radius: 10px; width:120px;">Vol</button>
                {% endif %}
            </div>
    </div>
    <!-- Hoeveel plekken zijn er? -->
    <div class="col-6 text-center">
        <div class="bezet" style="margin-top: 30px; margin-right: 100px;">
                <h3><strong>Plaatsen beschikbaar</strong></h3>
            <p style="font-size:200%"> {{empty_or_full_value.count}}/{{sensors.count}}</p>
        </div>
    </div>
</div>
</div>

<hr>
<!-- #2 row -->
<!--
Inhoud:
- Gele menu & titel: "Parkeerplaats dashboard"
- Hr streep
 -->

<!-- Hr streep -->
<div class=" fixed-bottom col-sm-13">
    <hr>
</div>

</div>


{% endblock %}